.mat-column-part-number {
  width: 20%;
}

.mat-column-part-description {
  width: 30%;
}

.mat-column-quantity {
  width: 20%;
}

.mat-column-line-reference {
  width: 20%;
}

.mat-column-customer-price {
  width: 10%;
}

.mat-column-select {
  width: 10%;
}
