<table mat-table [dataSource]="dataSource" class="w-full">

  <ng-container matColumnDef="part-number">
    <th mat-header-cell *matHeaderCellDef>
      Part number
    </th>
    <td mat-cell *matCellDef="let element">
      📷 {{element.partNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="part-description">
    <th mat-header-cell *matHeaderCellDef>Part description</th>
    <td class="text-ellipsis overflow-hidden" mat-cell *matCellDef="let element"> {{element.partDescription}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">
      <button color="accent" mat-button (click)="decreaseQuantity(element.partNumber)">-</button>
      <input class="text-center" matInput type="number"
             (change)="changeQuantity(element.partNumber, $any($event.target).value)" [value]="element.quantity">
      <button color="accent" mat-button (click)="increaseQuantity(element.partNumber)">+</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="line-reference">
    <th mat-header-cell *matHeaderCellDef>Line reference</th>
    <td mat-cell *matCellDef="let element"> {{element.lineReference}} </td>
  </ng-container>

  <ng-container matColumnDef="customer-price">
    <th mat-header-cell *matHeaderCellDef>Customer price</th>
    <td mat-cell *matCellDef="let element"> {{element.customerPrice}} </td>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (change)="toggleRowSelection(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-slate-100"></tr>
  <tr mat-row class="odd:bg-white even:bg-slate-50 h-10" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-button (click)="togglePrice()">Toggle price</button><br/>

selected rows: {{ selectedRows | json }}
